<h1>Sign-up page</h1>

<form action="<%= users_url %>" method="post">

  <label for="email"></label>
  <input type="text" name="user[email]" id="email" value="<%= @user.email %>">

  <br>

  <label for="Password"></label>
  <input type="password" name="user[password]" id="password">

  <input type="submit" value="Sign up!">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >

</form>
